/config/production.json
/config/default.json
/.idea/
/node_modules/
package-lock.json
settings/settings.json
temp/*.json
temp/events.json
temp/supplementation.json
temp/mutes.json
temp/votes.json